/* Global CSS Entry Point */
/* Imports all global styles in the correct order */

@import '../styles/global/base.css';
@import '../styles/global/typography.css';
@import '../styles/global/layout.css';
@import '../styles/global/components/cards.css';
@import '../styles/global/components/buttons.css';
@import '../styles/global/components/tags.css';
@import '../styles/global/components/forms.css';
@import '../styles/global/animations.css';
